<div
  class="d-flex align-items-center justify-content-between mybos-cases-action-group"
>
  <div
    class="d-flex align-items-center justify-content-between gap-3 mybos-cases-left-group-menu"
  >
    <span class="mybos-cases-left-group-menu-active">Cases</span>
    <span>Work Orders Sent</span>
    <span>Maintenance Request</span>
  </div>
  <div class="d-flex align-items-center justify-content-between gap-5">
    <div class="d-flex align-items-center justify-content-between gap-2">
      <input type="radio" id="huey" name="drone" value="huey" checked />
      <label for="huey">List</label>
    </div>
    <div class="d-flex align-items-center justify-content-between gap-2">
      <input type="radio" id="huey" name="drone" value="huey" checked />
      <label for="huey">Board</label>
    </div>
    <div class="mybos-search-box">
      <img src="/assets/img/icons/magnifier.svg" />
      <input
        class="form-control mybos-top-search-box"
        type="text"
        placeholder="Search"
      />
    </div>
  </div>
</div>
