<div class="container-fluid">
  <div class="row my-3">
    <div class="col">
      <div class="mybos-panel mybos-secondary-primary">
        <h5 class="card-title mt-2">Case Information</h5>
        <hr class="mt-3 mb-2" />
        <div class="row">
          <div class="col">
            <div class="row my-3">
              <div class="col">
                <label>Case Number</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.case_number }}"
                  disabled
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Added </label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.date_added }}"
                  readonly
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Priority</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.priority }}"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row my-3">
              <div class="col">
                <label>Case Type</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.category }}"
                  readonly
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Due Date </label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.due_date }}"
                  readonly
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Status</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.status }}"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <div class="mybos-panel mybos-secondary-primary">
        <h5 class="card-title mt-2">Asset Information</h5>
        <hr class="mt-3 mb-2" />
        <div class="row">
          <div class="col">
            <div class="row my-3">
              <div class="col">
                <label>Category</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.category }}"
                  disabled
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Company </label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.contractor }}"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row my-3">
              <div class="col">
                <label>Apartment</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.apartment }}"
                  readonly
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Contact</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.contractor_contact }}"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <div class="mybos-panel mybos-secondary-primary">
        <div class="row">
          <div class="col">
            <div class="row my-3">
              <div class="col">
                <label>Case Title</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{ caseDetails?.subject }}"
                  readonly
                />
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Description </label>
                <form [formGroup]="form">
                  <angular-editor
                    id="editor1"
                    formControlName="signature"
                    [(ngModel)]="htmlContent1"
                    [config]="editorConfig"
                  ></angular-editor>
                </form>
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label>Notes </label>
                <textarea class="form-control" rows="3">{{
                  caseDetails?.notes
                }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
