@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

body {
  margin: 20px;
  background: #ebeff3;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  color: $mybos-primary-text;
}

.mybos-container {
  width: 100%;
}

.mybos-logo img {
  width: 148px;
  height: 29px;
}

.mybos-container .lg-side {
  width: 100%;
}
