<div class="mybos-container d-flex justify-content-start">
  <aside class="mybos-side-panel">
    <div class="d-flex flex-column align-items-center gap-3">
      <a class="mybos-logo" href="javascript:;">
        <img src="/assets/img/logo.svg" />
      </a>
      <div>
        <img src="/assets/img/building.png" />
      </div>
    </div>
    <app-side-nav></app-side-nav>
  </aside>

  <aside class="lg-side">
    <app-top-bar></app-top-bar>
    <router-outlet></router-outlet>
  </aside>
</div>
